<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="manifest" href="/static/manifest.json" />
  <meta name="theme-color" content="#121212" />
  <link rel="apple-touch-icon" href="/static/icon-192x192.png" />

  <title>Xbox Media</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.8.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/ext/head-support.js"></script>
  <style>
        :root {
      --bg-color: #121212;
      --text-color: #ffffff;
      --button-bg: #333333;
      --button-text: #ffffff;
      --button-hover-bg: #444444;
      --button-hover-text: #ffffff;
    }
    body {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  </style>
  <script>
    function subscribeToPushNotifications() {
      const VAPID_PUBLIC_KEY = "BOizMl1SUr7poNp79ad6CGeIEB4rsFVwxy-e4lGIsP4oUFoj5R9L9H9W5RHJOzAJgYCJ5nXGEJIZtuB3q4Jmu0Q";
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.ready
          .then((registration) => {
            console.log("Service worker is ready. Requesting Notification permission...");
            return Notification.requestPermission()
              .then((permission) => {
                if (permission !== "granted") {
                  throw new Error("Permission not granted for Notification");
                }
                return registration.pushManager.subscribe({
                  userVisibleOnly: true,
                  applicationServerKey: urlB64ToUint8Array(VAPID_PUBLIC_KEY)
                });
              });
          })
          .then((subscription) => {
            console.log("Push subscription object:", subscription);
            const subscriptionJson = JSON.stringify(subscription);
            console.log("Encoded push subscription (btoa):", btoa(subscriptionJson));

            // Sending subscription to the server
            return fetch('/subscribe', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                push_token: btoa(subscriptionJson)
              })
            });
          })
          .then(response => {
            console.log('Response from /subscribe endpoint:', response);
            return response.json();
          })
          .then(data => {
            console.log('Subscription successful:', data);
          })
          .catch((error) => {
            console.error("Error during subscription:", error);
          });
      } else {
        console.warn("Service Worker not supported in this browser.");
      }
    }

    // Utility function to convert VAPID key from base64 URL string to Uint8Array
    function urlB64ToUint8Array(base64String) {
      const padding = "=".repeat((4 - (base64String.length % 4)) % 4);
      const base64 = (base64String + padding)
        .replace(/-/g, "+")
        .replace(/_/g, "/");
      const rawData = window.atob(base64);
      return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)));
    }


    // Ensure head element is available
    window.addEventListener("load", () => {
      navigator.serviceWorker.register('/static/service-worker3.js')
        .then((registration) => {
          console.log('ServiceWorker registered: ', registration.scope);
          subscribeToPushNotifications(); // Call the subscription function here
        })
        .catch((error) => console.log('ServiceWorker registration failed: ', error));
    });
    if (!document.head) {
      document.head = document.createElement("head");
      document.documentElement.insertBefore(document.head, document.body);
    }
  </script>
  <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body class="bg-white text-black min-h-screen flex flex-col p-0" hx-ext="head-support">
  <header class="p-4">
    <h1 class="text-3xl font-bold">Xbox Media</h1>
  </header>
  <main class="flex-1 overflow-y-auto">
    <section id="media-container" class="p-4">
      <div id="media-content" hx-get="/media_page/1" hx-trigger="load" hx-swap="innerHTML">
        <div class="flex flex-col items-center justify-center h-52">
          <div class="loading-spinner w-10 h-10 border-4 border-gray-200 border-t-4 border-blue-600 rounded-full animate-spin"></div>
          <p class="mt-2">Loading media...</p>
        </div>
      </div>
    </section>
  </main>
  <footer class="p-4 text-center">
    <p>
      2024 Xbox Streaming App
      <a class="text-blue-600 hover:underline" href="https://github.com/anirudhvsp">Github</a>
    </p>
  </footer>
</body>
<script>
  document.body.addEventListener("htmx:beforeOnLoad", function (event) {
    if (event.detail.xhr.getResponseHeader("X-Reset-Body-Padding")) {
      document.body.style.paddingTop = "0";
      document.body.style.paddingBottom = "0";
    }
  });
  document.body.addEventListener("htmx:sendError", function (event) {
    if (!navigator.onLine) {
      event.detail.xhr.abort();
      alert("You are offline. This action requires an internet connection.");
    }
  });
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/static/service-worker3.js')
      .then((registration) => {
        console.log('ServiceWorker registered: ', registration.scope);
        registration.update();
      })
      .catch((error) => console.log('ServiceWorker registration failed: ', error));
  });
  let lastPageHidden = Date.now();

  document.addEventListener("visibilitychange", function () {
    if (!document.hidden) {
      // Page is now visible
      const timeHidden = Date.now() - lastPageHidden;
      if (timeHidden > 1000) {  // If page was hidden for more than 1 second
        location.reload();
      }
    } else {
      // Page is now hidden
      lastPageHidden = Date.now();
    }
  });

  window.addEventListener('popstate', function (event) {
    if (document.referrer.includes('/stream/')) {
      location.reload();
    }
  });
</script>

</html>
